$var cssfiles: static/css/main.css
$var type: text/html;charset=utf-8
<div style="top-margin:0; margin:0em; background-color:darkblue; text-shadow:silver; text-align:right">
  <font color="white">Welcome, <em>$context.username</em> </font>&nbsp;<a href='logout'><font color="silver">登出</font></a>&nbsp;&nbsp; </div>

<div class="mainContainer">
  <div class="header">header here... </div>
  <div class="leftSideBar">left side</div>
  <div class="mainContent"> main content goes here  </div>
  <div class="footer"> Hack me if you can... </div> 
</div>
